body {
  background-color: #feeae9;
}

.webpage {
display: grid;
grid-template-columns: 0.5fr 4fr 3fr;
grid-template-rows: 1fr 4fr 0.5fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.webpage, .menu, .header, .left, .right, .footer {
  border-style: solid;
  color: #c9adaa;
}
.menu { grid-area: 1 / 1 / 4 / 2; }
.header { grid-area: 1 / 2 / 2 / 4; }
.left { grid-area: 2 / 2 / 3 / 3; }
.right { grid-area: 2 / 3 / 3 / 4; }
.footer { grid-area: 3 / 2 / 4 / 4; }


ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-icon {
  border-bottom: 300px;
}
hr {
  width: 20px;
  color: #dfc4c3
}
.menu img {
  height: 30px;
  width: auto;
}

.header {
display: grid;
grid-template-columns: 6fr 1fr;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.contact {
  background-color: #cd676a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h3 {
  color: white;
}
a {
  text-decoration: none;
}
h1 {
  color: #ba6b70;
  margin: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 41px;
  letter-spacing: 1.8px;
  word-spacing: 2px;
}
.left p {
  margin-left: 50px;
  color: #bd8f97;
}
h5 {
  color: white;
  text-shadow: 2px 2px 8px #FF0000;
  margin: 50px;
  margin-top: -50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 41px;
  letter-spacing: 1.8px;
  word-spacing: 2px;
}
h2 {
  color: #ad8283;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-left: 50px;
}
.right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.right ul img {
  height: 120px;
  width: auto;
}
.blocx {
  margin-top: 115px;
  margin-bottom: 115px;
  background-color: #59bdb1;
  width: 40px;
}
.blocx p {
  writing-mode: vertical-rl;
  color: white;
  margin: 5px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h4 {
  color: white;
  margin-left: 10px;
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
